/__pycache__
/file
/merger - 1
/merger - 2
/out
/processing

output.png
diagram.png
app_icon.png
aftertraining.png
training.png
agricultura.xlsx
agricultura.xlsx.zip
estimaciones.csv
estimaciones.csv.zip
processing-arduino.zip
Untitled Diagram.xml
Untitled.png
wheat-seeds.csv
iris.data.txt
input1.txt
multi.py
seeds_dataset.txt
